@model _210921_ETicaret.Models.Account.ProfilModels

@{
    ViewBag.Title = string.Format("{0} {1}-", Model.Members.Name, Model.Members.Surname);
    Model.Members.ProfileImageName = string.IsNullOrEmpty(Model.Members.ProfileImageName) ? "images/account.png" : Model.Members.ProfileImageName;
    var currentUser = ((_210921_ETicaret.DB.Members)Session["LogOnUser"]);
}

<div class="container">
    <!-- Content Begin -->
    <div class="row">
        <div class="col-md-12 my-4">
            <h3 class="text-danger">Profil Bilgileriniz</h3>
            <hr />
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 text-center">
            <img src="~/@Model.Members.ProfileImageName" alt="MyProfile" class="rounded-circle img-fluid img-thumbnail" style="width:150px" />
        </div>
        <div class="col-md-8 text-justify">
            <div class="row form-group">
                <label class="col-md-2 text-danger">Adı:</label>
                <label class="col-md-10">@Model.Members.Name</label>
            </div>

            <div class="row form-group">
                <label class="col-md-2 text-danger">Soyadı:</label>
                <label class="col-md-10">@Model.Members.Surname</label>
            </div>

            <div class="row form-group">
                <label class="col-md-2 text-danger">E-Posta:</label>
                <label class="col-md-10">@Model.Members.Email</label>
            </div>

            <div class="row form-group">
                <label class="col-md-2 text-danger">Biyografi:</label>
                <label class="col-md-10 text-justify">@Model.Members.Bio</label>
            </div>

            <div class="row form-group">
                <label class="col-md-2 text-danger">Kayıt Tarihi:</label>
                <label class="col-md-10">
                    @Model.Members.AddedDate.ToShortDateString()
                </label>
            </div>
        </div>
    </div>

    @if (Session["LogOnUser"] != null && (currentUser.Id == Model.Members.Id))
    {
    <div class="row">
        <div class="col-md-12 text-right mb-4">
            @if (((int)currentUser.MemberType) > 3)
            {
                <a href="~/Category/Cat" class="btn btn-primary">
                    <span class="fa fa-indent mr-2"></span>Kategoriler
                </a>
                <a href="~/Product/Pro" class="btn btn-info">
                    <span class="fa fa-gift  mr-2"></span>Ürünler
                </a>
            }
            <a href="~/Account/ProfilEdit" class="btn btn-warning">
                <span class="fa fa-edit mr-2"></span>Düzenle
            </a>
            <a href="#" class="btn btn-danger" data-toggle="modal" data-target="#ModalDelete">
                <span class="fa fa-trash mr-2"></span>Sil
            </a>
        </div>
    </div>
    }
    <!-- Content End -->
    @if (Model.Addresses != null)
    {
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-8">
                <table class="table table-striped table-hover text-center table-sm">
                    <thead>
                        <tr>
                            <th scope="col">Adres Adı</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Addresses)
                        {
                            <tr>
                                <td>@item.Name</td>
                                <td>
                                    <a href="~/Account/Profil/?ad=@item.Id.ToString()" class="btn btn-info btn-sm">
                                        <span class="fa fa-edit"></span>
                                    </a>
                                    <a href="~/Account/RemoveAddress/@item.Id.ToString()" class="btn btn-danger btn-sm">
                                        <span class="fa fa-trash"></span>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

                @using (Html.BeginForm("Address", "Account"))
                {
                    @Html.Hidden("Id", Model.CurrentAddress.Id.ToString())

                    <div class="form-group">
                        @Html.TextBox("Name", Model.CurrentAddress.Name, new { @class = "form-control", placeholder = "Adres adı" })
                    </div>

                    <div class="form-group">

                        @Html.TextArea("AdresDescription", Model.CurrentAddress.AdresDescription, new { @class = "form-control", @style = "resize:none", @cols = "30", @rows = "5", @maxlength = "255", placeholder = "Adresiniz" })

                    </div>

                    <div class="form-group text-right">
                        <button class="btn btn-success" type="submit">Kaydet</button>
                    </div>

                }

            </div>
        </div>
    }
</div>
