
@model _210921_ETicaret.Models.index.IndexModel
@{
    ViewBag.Title = "";
    List<_210921_ETicaret.DB.Categories> categories = new List<_210921_ETicaret.DB.Categories>();
    if (Model.Category != null)
    {
        categories.Add(Model.Category);
        var parentcat = Model.Category.Categories2;

        while (parentcat != null)
        {
            categories.Add(parentcat);
            parentcat = parentcat.Categories2;
        }
    }
}

@Html.Partial("_Carousel")

<div class="row">
    <div class="col-md-10 offset-md-1">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("index","Home", new { id=0 })">Anasayfa</a></li>
                @for (int i = categories.Count - 1; i >= 0; i--)
                {
                    if (i == 0)
                    {
                        <li class="breadcrumb-item active">@categories[i].Name</li>
                    }

                    else
                    {
                        <li class="breadcrumb-item"><a href="@Url.Action("index","Home", new { id=categories[i].Id})">@categories[i].Name</a></li>
                    }


                }

                @*<li class="breadcrumb-item active" aria-current="page">Bilgisayar</li>*@
            </ol>
        </nav>
    </div>
</div>

<div class="row">
    <div class="col-md-10 offset-md-1">
        <div class="row">
            @foreach (var item in Model.Products)
            {
                @Html.Partial("_ProductItem", item);
            }
        </div>
    </div>
</div>

<!-- Modal: TO DO: Daha sonra gerekirse Partial View olarak yapılabilir. -->
<div class="modal fade" id="productinfo" tabindex="-1" role="dialog" aria-labelledby="ModalEdit-label" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="ModalEdit-label">Ürün Bilgisi</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        <div id="productCarousel" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#productCarousel" data-slide-to="0" class="active"></li>
                                <li data-target="#productCarousel" data-slide-to="1"></li>
                                <li data-target="#productCarousel" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="http://placehold.it/150x150" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="http://placehold.it/150x150" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="http://placehold.it/150x150" class="d-block w-100" alt="...">
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#productCarousel" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#productCarousel" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row my-2">
                    <div class="col-md-12">
                        <p id="modalBodyP" class="text-justify"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-right">
                        <strong>Fiyat: 20.00 ₺</strong>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    <span class="fa fa-close mr-2"></span>
                    Kapat
                </button>
                <a href="~/Home/AddBasket/Id" id="modelBasketHref" class="btn btn-success">
                    <span class="fa fa-shopping-cart mr-2"></span>
                    Sepete At
                </a>
            </div>
        </div>
    </div>
</div>


<script>

    function GetProductInfo(Id) {

        $("#productinfo").modal("show");

        $.ajax({

            url: "/Home/GetProductDes/" + Id,
            method: "GET",
            async: true,
            success: function (data) {

                $("#modalBodyP").text(data);
                var newHref = $("modelBasketHref").attr("href");
                newHref = newHref.replace("/Id", "/" + Id);
                $("modelBasketHref").attr("href", newHref);
            },
            error: function (err) {
                console.log("GetProductDes Error", err);
                $("#productinfo").modal("hide");
            }

        });
    }
</script>



